<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Medallers</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='olympics.js') }}"></script>
  <style>
    .para-ring {
      border-radius: 25px;
      border-width: 3px;
      border-style: solid;
    }

    p {
      font-weight: bold;

    }

    ;
  </style>

</head>

<body>

  <!-- Nav Bar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar navbar-light bg-secondary navbar-dark">
    <a class="navbar-brand" href="/">Data Medallers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home Page<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/gender">Gender Participation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/year">Medals by Year</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Host Cities</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End of Nav Bar -->


  <div class="container-fluid" style="margin: 0px; width: 100%; align-self: center; max-height: 400px;">

    <div class="row" style="width: 100%; align-self: center;">

      <div class="col-12" style="width: 100%; align-self: center;">

        <div id="gender_plot" style="max-height: 360px"></div>

      </div>


    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3 text-center align-middle para-ring" style="margin: 10px; border-color: rgb(0, 164, 240);">
        <p class="align-middle" style="margin: 40px; color: rgb(0, 164, 240); padding-bottom: auto; ">
          The first Winter Olympics took place in 1924.</p>
      </div>
      <div class="col-md-3 text-center para-ring" style="margin: 5px; border-color: black;">
        <p style="margin: 15px; color: black;">
          The only event Women could compete in was figure skating. Herma Szabo became the first ever female Winter
          Olympic champion when she won the ladies' singles competition.</p>
      </div>
      <div class="col-md-3 text-center para-ring" style="margin: 5px; border-color: red;">
        <p style="margin: 20px; color: red ;">
          Norwegian figure skater and actress Sonja Henie was one of those female athletes competing in the first
          Winter Olympic Games at only 11 years old.
        </p>
      </div>

    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3 text-center para-ring" style="margin: 5px; border-color: rgb(173, 173, 17); ">
        <p style="margin: 15px; color:rgb(173, 173, 17);">
          In Albertville 1992 Annelise Coberger from New Zealand won silver medal in women's slalom and became the first
          athlete from the Southern Hemisphere to ever win a medal at the Olympic Winter Games</p>
      </div>
      <div class="col-md-3 text-center para-ring" style="margin: 5px; border-color:green;">
        <p style="margin: 20px; color: green;">
          Olympic ski jumping competitions for women were first allowed at Sochi 2014. Carina Vogt from Germany became
          the first female ski jumper to win Olympic gold
        </p>
      </div>


    </div>

  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>